@charset "utf-8";

body {
	margin: 25px;
}

img.icon {
	margin: 2px;
	padding-top: 20px;
	width: 40px;
	float: right;
}

h1 {
	font-family: "Floane", "Optima", "Calibri", sans-serif;
	color: #A40E4C;
	font-size: 75px;
	line-height: 50px;
}

div.gallery {
	background-color: #F5D6BA;
	padding-top: 50px;
	padding: 20px;
}

h3 {
	font-family: "Floane", "Optima", "Calibri", sans-serif;
	font-size: 30px;
	color: #2C2C54;
	line-height: 0px;
}

h2 {
	font-family: "Floane", "Optima", "Calibri", sans-serif;
	font-size: 40px;
	color: #2C2C54;
	line-height: 0px;
}

div.gallery h2 {
	padding-left: 20px;
}

div.gallery img {
	width: 30%;
	padding: 20px;
}

p {
	font-family: "Calibri", sans-serif;
	font-size: 25px;
	line-height: 40px;
	display: inline;
}

p.invalid {
	font-size: 14px;
	line-height: normal;
	color: red;
}

a.menu {
	line-height: 20px;
	font-family: "Calibri", sans-serif;
	font-size: 25px;
	margin: 10px;
	float: right;
	text-decoration: none;
}

a:link {
	color: #50808E;
}

a:visited {
	color: #6FD08C;
}

a.edge {
	margin-right: 0px;
}

form {
	font-family: "Calibri", sans-serif;
	font-size: 18px;
}

button {
	background-color: #50808E;
	justify-content: center;
	align: center;
	color: white;
}
/* #50808E */
.button2 {
	background-color: ;
	color: #50808E;
	height: 20px;
	border-radius: 5%;
	align: center;
	margin-left: auto;
  margin-right: auto;
}

button.search-result:hover {
	background-color: #6FD08C;
	color: white;
}

button.search-result {
	display: block;
	margin: auto;
	background-color: #50808E;
	color: white;
}

ul {
	list-style-type: none;
}

ul.search-result {
	text-align: left;
}

.sidepanel  {
	width:0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #F5D6BA;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: transparent;
  border: none;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
	margin-right: 50px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
#main {
  transition: margin-right .5s;
}

footer{
display:flex;
height:10%;
width:100%;
position: absolute;
bottom:0;
justify-content:center;
   align-items:center;
}

.bottomtotal{
	position: absolute;
	bottom:0;
	width: 100%;
	vertical-align: bottom;
}
